POSTGRESDB_USER=
POSTGRESDB_ROOT_PASSWORD=
POSTGRESDB_DATABASE=
URL_DATASOURCE=jdbc:postgresql://postgresdb:5432/db_name
POSTGRESDB_LOCAL_PORT=
POSTGRESDB_DOCKER_PORT=

SPRING_LOCAL_PORT=
SPRING_DOCKER_PORT=